<div class="hotgraphic-inner component-inner" role="region" aria-label="{{_globals._components._hotgraphicAudio.ariaRegion}}" {{#if _globals._components._hotgraphicAudio.ariaRegion}}tabindex="0"{{/if}}>
  {{> component this}}
  <div class="hotgraphic-widget component-widget {{#if _useGraphicsAsPins}}tile{{else}}pin{{/if}}">
    <div class="hotgraphic-graphic">
      {{#if _useGraphicsAsPins}}
        <div class="hotgraphic-narrative">
          {{#each _items}}
          <button class="base hotgraphic-graphic-pin component-item-text-color {{#if _isVisited}}visited{{/if}} hotgraphic-graphic-pin-{{@index}} {{#if _graphic._classes}}{{_graphic._classes}}{{/if}}" data-id="item-{{@index}}" style="top:{{{_top}}}%; left:{{{_left}}}%;" role="button" aria-label="Item {{numbers @index}}. {{title}}.{{#if _isVisited}} {{../../_globals._accessibility._ariaLabels.visited}}.{{/if}}">
            <div class="hotgraphic-graphic-pin-image component-item-color item-{{@index}}" style="background-image: url({{_graphic.src}})"></div>
          </button>
          {{/each}}
        </div>
      {{else}}
        {{#if _useNumbersAsPins}}
          <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" tabindex="0"/>
          {{#if _graphic.attribution}}
            <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
          {{/if}}
        {{#each _items}}
          <button class="base hotgraphic-graphic-pin component-item-text-color item-{{@index}} {{#if _isVisited}}visited{{/if}}" data-id="item-{{@index}}" style="top:{{{_top}}}%; left:{{{_left}}}%;" role="button" aria-label="Item {{numbers @index}}. {{title}}.{{#if _isVisited}} {{../../_globals._accessibility._ariaLabels.visited}}.{{/if}}">
            <div class="hotgraphic-graphic-pin-text component-item-color item-{{@index}}">
              <div class="hotgraphic-pin-text">{{math @index "+" 1}}</div>
            </div>
          </button>
        {{/each}}
        {{else}}
          <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" tabindex="0"/>
          {{#if _graphic.attribution}}
            <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
          {{/if}}
        {{#each _items}}
          <button class="base hotgraphic-graphic-pin component-item-text-color item-{{@index}} {{#if _isVisited}}visited{{/if}}" data-id="item-{{@index}}" style="top:{{{_top}}}%; left:{{{_left}}}%;" role="button" aria-label="Item {{numbers @index}}. {{title}}.{{#if _isVisited}} {{../../_globals._accessibility._ariaLabels.visited}}.{{/if}}">
            <div class="hotgraphic-graphic-pin-icon component-item-color icon icon-pin item-{{@index}}"></div>
          </button>
        {{/each}}
        {{/if}}
      {{/if}}
      <div class="hotgraphic-popup" role="dialog" aria-label="{{_globals._components._hotgraphicAudio.ariaPopupLabel}}">
        <div class="hotgraphic-popup-inner">
          <div class="hotgraphic-popup-content">
            <div class="hotgraphic-popup-content-inner">
            {{#each _items}}
            <div class="hotgraphic-popup-item item-{{@index}} {{_classes}}">
              {{#if title}}
              <div class="hotgraphic-popup-title">
                <div class="hotgraphic-popup-title-inner h5" tabindex="0" role="heading" aria-level="1">
                  {{{title}}}
                </div>
              </div>
              {{/if}}
              {{#if body}}
                <div class="hotgraphic-popup-body">
                  <div class="hotgraphic-popup-body-inner">{{{a11y_text body}}}</div>
                </div>
              {{/if}}
              {{#if _graphic}}
                <div class="hotgraphic-popup-graphic">
                  <div class="hotgraphic-popup-graphic-inner">
                    <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" tabindex="0"/>
                  </div>
                  {{#if _graphic.attribution}}
                    <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
                  {{/if}}
                </div>
              {{/if}}
            </div>
            {{/each}}
            {{#if _canCycleThroughPagination}}
            <div class="hotgraphic-popup-navigation">
              <button class="base hotgraphic-popup-arrow hotgraphic-popup-back" role="button" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
                <div class="icon icon-controls-left"></div>
              </button>
              <button class="base hotgraphic-popup-arrow hotgraphic-popup-next" role="button" aria-label="{{_globals._accessibility._ariaLabels.next}}">
                <div class="icon icon-controls-right"></div>
              </button>
            </div>
            {{/if}}
          </div>
        </div>
        <div class="hotgraphic-popup-buttons">
          <button class="hotgraphic-popup-close" role="button" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">{{close}}</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
